body {
    background-color: #000000;
}
header {
    background: #0044ff54;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 15px;
    top: 30%;
  }
/* titulo ratetrack */
.titulo {
    position: absolute;
    top: 1.8%;
    left: 5%;
    text-align: center;
    color:  #ffffff;
    opacity: 100%;
    font-size: 2em;
    font-family: 'Croissant One', sans-serif;
}
/* direçao dos links */
ul li {
    margin: 10px;
    font-size: 1.1em;
    font-style: italic;
    list-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 110%;
}
.opcoes {
    position: absolute;
    top: 7%;
    left: 85%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    opacity: 110%;
    list-style: none; 
    padding: 0;
    margin: 0;
}
.opcoes a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
}
.opcoes li {
    margin: 20px;
    font-size: 1.1em;
    font-style: italic;
    list-style: none;
}
/* frases do menu */
.frases{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.781);
    text-align: center;
    font-size: 0.8em;
    transition: color 1.8s ease-in;
}
/* Lista de itens */
.items {
    display: flex;
    background-color: #000000cc;
    list-style: none;
    border-radius: 66px;
    width: 100%;
    max-width: 1400px;
    padding: 4px;
    gap: 2px; /* reduzido */
    max-height: 490px;
    overflow-y: auto;
    border: 0.5px solid #ffffff;
    margin-left: 80px;
    margin-top: 800px;
    flex-wrap: wrap;
    scrollbar-width: none;
    box-shadow: 2px 1px 60px #0044ff;
    transition: box-shadow 2.7s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
/* Item individual da lista */
.item {
    flex: 0 1 14%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 7px;
}
/* Imagem do item */
.item-image img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid #ffffff;
}
/* Título do item */
.item-title {
    font-size: 14px;
    color: #ffffff;
    margin-top: 4px;
    text-align: center;
    font-family: 'Gabriela', serif;
}
/* Subtítulo do item */
.item-subtitle {
    font-size: 12px;
    color: #cccccc;
    text-align: center;
}
/* Descrição do item */
.item-description {
    font-size: 14px;
    color: #aaaaaa;
    text-align: center;
}

/* Lista de itens 2 */
.items2 {
    display: flex;
    background-color: #000000cc;
    list-style: none;
    border-radius: 66px;
    width: 100%;
    max-width: 1400px;
    padding: 4px;
    gap: 2px; /* reduzido */
    max-height: 290px;
    overflow-y: auto;
    border: 0.5px solid #ffffff;
    margin-left: 80px;
    margin-top: 200px;
    flex-wrap: wrap;
    scrollbar-width: none;
    box-shadow: 2px 1px 60px #0044ff;
    transition: box-shadow 2.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}
.item2 {
    flex: 0 1 14%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 7px;
}
/* Imagem do item */
.item-image2 img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    border: 2px solid #ffffff;
}
/* Título do item */
.item-title2 {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-family: 'Gabriela', serif;
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}
.tituloitem{
    position: absolute;
    top: 109%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    font-family: cal sans, serif;
    padding: 3px 6px;
}
.tituloitem2{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    font-family: cal sans, serif;
    padding: 3px 6px;
}
.botao {
    background-color: #ffffffd7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 77%; /* ajuste conforme necessário */
    font-family: cal sans, serif;
}


